@{
    ViewBag.Title = "Home";
}

<style>
    .btnContainer {
        width: 250px;
        height: 300px;
        display: inline;
        overflow: hidden;
        float: left;
        box-shadow: -2px 2px 2px #888;
        font-size: 13px;
        margin-bottom: 10px;
    }

    #home {
        position: absolute;
        top: 40%;
        left: 20%;
        margin-top: -40px;
        margin-left: -20px;
    }

    .top {
        color: #ffffff;
        border-radius: 4px 4px;
        background: #373737;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .imagecontainer {
        background: #f2f3f5;
        padding: 5px;
        height: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .textoimage {
        background: #abd43b;
        padding: 10px;
        height: 100%;
        text-align: center;
    }

    .descricao {
        text-shadow: -1px 1px 1px #888;
        width: 235px;
    }
</style>

<div class="row-fluid" id="home">
    <div class="col-md-4 text-center">
        <div class="btnContainer" id="btnFinanceiro" onclick="Redirecionar('Financeiro')" onmouseover="MouseOver('btnFinanceiro')" onmouseout=" MouseOut('btnFinanceiro')">
            <div class=" top">
                Meu Financeiro
            </div>
            <div class="imagecontainer" style='background-image:url(" @Url.Content("~/Content/images/Financeiro.png")");'>
            </div>
            <div class="textoimage">
                <p class="text-center descricao"> Meu acompanhamento financeiro</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btnContainer" id="btnObras" onclick="Redirecionar('Obra')" onmouseover="MouseOver('btnObras')" onmouseout="MouseOut('btnObras')">
            <div class="top">
                Minhas Obras
            </div>
            <div class="imagecontainer" style='background-image:url(" @Url.Content("~/Content/images/Obras.png")");'>
            </div>
            <div class="textoimage">
                <p class="text-center descricao"> Acompanhamento do andamento de minhas obras</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btnContainer" id="btnDocumentos" onclick="Redirecionar('Laudos')" onmouseover="MouseOver('btnDocumentos')" onmouseout="MouseOut('btnDocumentos')">
            <div class="top">
                Meus Laudos
            </div>
            <div class="imagecontainer" style='background-image:url(" @Url.Content("~/Content/images/Documents.png")");'>
            </div>
            <div class="textoimage">
                <p class="text-center descricao"> Download dos meus laudos</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Redirecionar(destino) {
        window.location.href = '/' + destino + '/Index';
    }
    function MouseOver(id) {
        $('#' + id).css("width", '260px');
        $('#' + id).css("height", '310px');
        $('#' + id).css('box-shadow', '-10px 10px 5px #888');
        $('#' + id).css('font-size', '14px');
    };

    function MouseOut(id) {
        $('#' + id).css("width", '250px');
        $('#' + id).css("height", '300px');
        $('#' + id).css("box-shadow", '-2px 2px 2px #888');
        $('#' + id).css('font-size', '13px');
    }
</script>