@{
    ViewBag.Title = "Home";
}

<style>
    #home {
	position:absolute;
	top:40%;
	left:23%;
	margin-top:-40px;
	margin-left:-25px;
    }

    .top{
        color: #ffffff;
        border-radius: 4px 4px;
        background: #373737;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .imagecontainer{
        background: #f2f3f5;
        padding: 5px;
    }
   .textoimage{
       background: #abd43b;
       padding: 10px;
       height:80px;
       
   }
</style>

<div class="row-fluid" id="home">
    <div class="col-md-4 text-center" >
        <div>
            <div class="top">
                Meu Financeiro
            </div>
            <div class="imagecontainer" style='height: 150px;background-image:url(" @Url.Content("~/Content/images/Financeiro.png")"); background-repeat: no-repeat; background-position: center;'>
            </div>
            <div class="textoimage">
                <p class="text-center"> Meu acompanhamento financeiro</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <div class="top">
                Minhas Obras
            </div>
            <div class="imagecontainer" style='height: 150px;background-image:url(" @Url.Content("~/Content/images/Obras.png")"); background-repeat: no-repeat; background-position: center;'>
            </div>
            <div class="textoimage">
                <p class="text-center"> acompanhamento do andamento de minhas obras</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <div class="top">
                Meus Laudos
            </div>
            <div class="imagecontainer" style='height: 150px;background-image:url(" @Url.Content("~/Content/images/Documents.png")"); background-repeat: no-repeat; background-position: center;'>
            </div>
            <div class="textoimage">
                <p class="text-center"> Download dos meus laudos</p>
            </div>
        </div>
    </div>
</div>
